<div class="flex justify-center items-center">
	<div class="flex flex-col items-center space-y-6 max-w-7xl p-10">
		<h1 class="text-4xl font-bold uppercase p-10 text-prime tracking-wide text-center">Information and presentaion of data</h1>
		<div class="flex flex-col items-center space-y-6 max-w-7xl p-10">
			<p class="font-bold uppercase p-5 text-lg text-justify text-prime">Intoduction</p>
			<p class="text-lg text-justify">
				Our planet is unique, here on Earth we have everything to create a life that we know. Unfortunetly humans with consumption are destroying our planet.
				Global warming is one of the problems which humans need to face of. Here we want to show some charts for Gdańsk, compare the temperatures from to years
				and get conclusion what we need to do to stop global warming.
			</p>
		</div>
		<div class="flex flex-col items-center space-y-6 max-w-7xl p-10">
			<p class="font-bold uppercase p-5 text-lg text-justify text-prime">Data</p>
			<p class="text-lg text-justify">We have been collected some data about Gdańsk, we are presentate it in chart</p>
			<div class="flex flex-row">
				<img class="h-auto max-w-md p-5" src="assets/Picture3.png"/>
				<img class="h-auto max-w-md" src="assets/Picture4.png"/>
			</div>
		</div>
		<div class="flex flex-col items-center space-y-6 max-w-7xl p-10">
			<p class="font-bold uppercase p-5 text-lg text-justify text-prime">Climate vs. Weather</p>
			<p class="text-lg text-justify">Sometimes this two words we are using as the same thing. It's very similar, but have some differences. The climate contains some
				"variables" and one of them is weather. When we are saying the climate is warmer today, it's not means it's hotter in the world. To visualize the difference,
				we can imagine a dog (weather) and the human with leash (climate). If we will have a smaller leash the dog can go to the left and to the right in smaller range,
				but if we will have a longer leash the dog will have longer range to go. The same thing is in climate when it's change, the weather will be more extremal than today,
				we will have very freezing winter and very hot summer. Also we can observate very strong storms than in the past.
			</p>
		</div>
		<div class="flex flex-col items-center space-y-6 max-w-7xl p-10">
			<p class="font-bold uppercase p-5 text-lg text-justify text-prime">Conclusion</p>
			<p class="text-lg text-justify">As we can see in the charts from 2013 and 2022 for Gdańsk we can say that the climate is more extremal than in the past. What we can do to deal with it?
				We should reduce our water waste to the minimal. For example taking shower in cold water. Also cutting a CO2 and other greenhouse gases is so necessary for climate.
				That's main reasons of climate changes and it will be milestone for our civilization to live good with a nature. 
			</p>
		</div>
	</div>
</div>