<div class="flex justify-center items-center">
    <div class="flex flex-col items-center space-y-6 max-w-7xl p-10">
        <h1 class="text-4xl font-bold uppercase p-10 text-prime tracking-wide text-center">know us better</h1>
        <p class="text-lg text-justify">
            Welcome to the "habitablEarth" website! We are two students from the computer science technical school, who, as part of the project "Our small grain of sand", decided to create an application to present data of predicted temperatures for countries. Our site is at a very preliminary stage of development, but you can already find a lot of interesting information here.
        </p>
        <p class="text-lg text-justify">
            Being passionate about computer science and new technologies, we decided to use our skills to build a website that will help people understand how the world's climate is changing. Our goal is to provide information on predicted temperatures for different countries and to draw attention to the importance of environmental protection.
        </p>
        <p class="text-lg text-justify">
            We hope you will find our website a valuable resource and encourage you to take an interest in climate change. We also encourage you to follow our progress in developing the site - we will soon be able to present even more interesting information!
        </p>
    </div>
</div>
